PORT= #...

APP_NAME= #...

MONGO_INITDB_ROOT_USERNAME= #...
MONGO_INITDB_ROOT_PASSWORD= #...
MONGO_HOST= #...
MONGO_APP_NAME= #...
MONGO_URI=mongodb+srv://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST}/?retryWrites=true&w=majority&appName=${MONGO_APP_NAME}

REDIS_HOST= #...
REDIS_PORT= #...
REDIS_USERNAME= #...
REDIS_PASSWORD= #...
REDIS_URL=redis://${REDIS_USERNAME}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}

JWT_SECRET= #...
JWT_EXPIRE_IN= #... (seconds)
JWT_REFRESH_SECRET= #...
JWT_REFRESH_EXPIRE_IN= #... (seconds)

AWS_ACCESS_KEY_ID= #...
AWS_SECRET_ACCESS_KEY= #...
AWS_REGION= #...
AWS_S3_BUCKET= #...

MAILER_HOST=smtp.gmail.com
MAILER_USER= #...
MAILER_FROM= #...
MAILER_PASSWORD= #...